<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>SwahiliBox</title>
</head>
<body>
   <center>
     <marquee><h2>Welcome To SwahiliBox Events Calendar</h2></marquee>
     <form method="post" action="/events">
     	Event Title: <input type="text" name="title"><br>
     	Event Venue: <input type="text" name="venue"><br>
     	Event Date: <input type="text" name="date"><br>
     	Event Time: <input type="text" name="time"><br>
     	RSVP: <input type="checkbox" name="rsvp" value="true"><br>
     	<input type="submit" name="submit" value="Click">
     </form>
   </center>
</body>
</html>
